* {
    margin: 10em;
    padding: 10em;
    box-sizing: border-box;
  }
  body {
    background: white;
    margin: 0;
  }
  hr {
    margin-top: 1.5rem;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15em;
    margin-bottom: 1.5rem;
  }
  