* {
    margin: 10rem;
    padding: 10rem;
    box-sizing: border-box;
  }
  body {
    background: white;
    margin: 20px;
  }
  hr {
    margin-top: 1.5rem;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15em;
    margin-bottom: 1.5rem;
  }
  main {
	font-family: monospace;
	background: #ccc;
	width: 600px;
	margin: 0 auto;
	padding: 2rem;
}
  