* {
    margin: 10em;
    padding: 10em;
    box-sizing: border-box;
  }
  body {
    background: white;
    margin: 5cm;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15em;
  }
  